	<ion-view view-title="&lt;img src=&quot;data/images/icon/android/icon/SMALL.png&quot; class=&quot;page-logo&quot; /&gt; 48 Laws of Power Video Book" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-dashboard" class=" page-dashboard">
				<div class="dashboard-panel">
			<div class="item item-title no-border item-dark">Book</div>
			<!-- row -->
			<div class="row">
				<a class="col-33 no-border light positive-bg ink"  ng-href="#/youtube_page/_four_eight_laws_of_power_video_booktwo_" >
					<i class="icon ion-ios-home" ></i>
					<p>{{ "48 Laws of Power" | translate }}</p>
				</a>
			</div>
			<!-- ./row -->
			

		</div>
		<br/>
		<br/>
		<br/>
		<br/>

		</ion-content>
		<!-- ./content -->
	</ion-view>
